<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div class="login">
    <p id="text">LOGIN</p>
    <div class="campos">
      <label>Usuário</label>
      <input class="input" type="text" autocomplete="off">
      <label>Senha</label>
      <input class="input" type="text">
      <input type="button" id="botao" value="Entrar">
    </div>
    <p id="possui">Ainda não possui conta?</p>
  </div>
</body>
</html>
